<!doctype html>
<html ng-app="tourMapper">
<head>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
	<link href="sheet.css" rel="stylesheet" type="text/css">
</head>

<body>
<main id="container">
	
<div ng-controller="ShowsCtrl">
	
	<h1> Find a band's shows! (via the SeatGeek API)</h1>
	
	<form ng-submit="grabShows()">
		<label class="inline-label" for="band-name">Band Name:</label>
		<input class="inline-input" id="band-name" type="text" ng-model="bandName" placeholder="Enter a name here">
		
		<input class="inline-input" type="submit" value="Grab Shows">
	</form>
	
	<hr>
	<h1>{{bandName}}'s Shows:</h1>
	
	<section id="shows">
	    <ul>
		   <li ng-repeat="show in shows | orderBy : 'datetime_local'">
		   	 <ul>
			   <li>{{ show.datetime_local | date:'mediumDate' }} - 
				   {{ show.venue.name }} - 
				   {{ show["venue"]["display_location"]}}
			   </li>
			 </ul>
			 <hr>
		   </li>
	   </ul>
	</section> 
	
	<section id="map-container">
		<div id='map'>
		</div>
	</section> 
	
	<section id="add-show-form">
		<h2>Add A Show!</h2>
		<form ng-submit="addShow(show)" novalidate>
			<label for="show-date">Show Date:</label>
			<input id="show-date" type="date" ng-model="show.datetime_local">
			
			<label for="show-venue-name">Venue Name:</label>
			<input id="show-venue-name" type="text" ng-model="show.venue.name">
			
			<label for="show-address">Address:</label>
			<input id="show-address" type="text" ng-model="show.address">
			
			<label for="show-city">City:</label>
			<input id="show-city" type="text" ng-model="show.city">
			
			<label for="show-state">State:</label>
			<input id="show-state" type="text" ng-model="show.state">
			
			<label for="show-Country">Country:</label>
			<input id="show-Country" type="text" ng-model="show.Country">
		
			<input type="submit" value="Add Show">
		</form>
	</section>
	
</div> <!-- end ShowsCtrl -->

</main>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
<script src="app.js"></script>
<script src="controllers.js"></script>

</body>



</html>






