html, body, div, span, section, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Montserrat";
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

label {
	margin: 5px;
	display: block;
}

input {
	margin: 5px;
	display: block;
}

.inline-label,
.inline-input {
	display: inline;
}

#container {
	margin: auto;
	width: 1000px;
}

#map-container {
/*	background: url("<%= asset_path('loader.gif') %>") no-repeat center;*/
	margin: 0 20px;
	float: left;
	border: 1px solid black;
	width: 600px;
	height: 400px;
}

#map {
	width: 100%;
	height: 100%;
	z-index: 0;
}

#shows {
	border-top: 1px solid black;
	border-top: 1px solid black;
	font-size: 12px;
	float: left;
	padding: 0;
	width: 200px;
}

#add-a-show-form {
	float: left;
	width: 200px;
}




