input[type="text"],
input[type="date"] {
    display: block;
	width: 200px;
	margin: 20px 0;
	border: 1px solid black;
	padding: 10px;
	font-size: 10px;
	font: inherit;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
input[type="file"]:hover,
input[type="search"]:hover {
	border: 1px solid green;
	box-shadow: 1px 1px 1px #888888;
}

input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	position: relative;
	box-shadow: 3px 3px 3px #888888;
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
	background: lightyellow;
}

input[type="submit"]:active {
	top: 2px;
	left: 2px;
}

#add-show-form {
	float: right;
	width: 270px;
}