header {
	min-width: 1000px;
	padding: 10px 20px;
	border-bottom: 1px solid black;
    background:url('../img/header.jpg') no-repeat; 
	background-position: left-top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	span {
		margin-left: 10px;
		font-weight: bold;
		font-size: 25px;
		cursor: pointer;
	}
	
	#get-embed-info {
		margin-right: 10px;
		float: right;
	}
	
	form {
		display: inline;
		
		label {
			display: inline;
			font-size: 25px;
			font-weight: bold;
		}
		
		input {
			margin-left: 10px;
		}
		
		input[type=text] {
			display: inline;
			background: transparent;
			border-bottom: 1px solid black;
			text-align: center;
			font-size: 25px;
		}
		
		input[type=text]:focus {
			outline: 0;
		};
		
		input[type=submit] {
			position: relative;
			padding: 0 10px;
			border: 1px solid black;
			font-size: 25px;
			box-shadow: 3px 3px 3px #888888;
		    cursor: pointer;
		}
		
		input[type="submit"]:hover {
			background: lightyellow;
		}

		input[type="submit"]:active {
			top: 2px;
			left: 2px;
		}
	}
	
	button {
		float: right;
		padding: 0 10px;
		border: 1px solid black;
		background: $red;
		color: white;
		font-weight: bold;
		font-size: 25px;
	    cursor: pointer;
	}
}