#shows {
	font-size: 14px;
	float: left;
	padding: 0;
	width: 350px;
	
	h2 {
		border-bottom: 1px solid black;
	}
	
	li {
		padding: 10px 0;
		border-bottom: 1px solid black;
	}
	
	input[type=submit] {
		position: relative;
		padding: 0 10px;
		border: 1px solid black;
		font-size: 12px;
		box-shadow: 3px 3px 3px #888888;
	    cursor: pointer;
	}
	
	input[type="submit"]:hover {
		background: lightyellow;
	}

	input[type="submit"]:active {
		top: 2px;
		left: 2px;
	}
}
