html, body, main, header, button, textarea,
div, span, section, ul, li, form,
h1, h2, h3, h4, h5, h6, input, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ul {
  list-style: none; }

a:link {
  color: #6b2607;
  text-decoration: none; }

a:visited {
  color: #6b2607; }

a:hover {
  color: black;
  text-decoration: none; }

a:active {
  color: black;
  text-decoration: none; }

.clear-after:after {
  content: "";
  clear: both;
  display: block; }

.clear-before:before {
  content: "";
  clear: both;
  display: block; }

header {
  width: 1500px;
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid black; }
  header span {
    margin-left: 10px; }
  header form {
    display: inline; }
    header form label {
      display: inline;
      font-size: 25px;
      font-weight: bold; }
    header form input {
      margin-left: 10px; }
    header form input[type=text] {
      display: inline;
      border-bottom: 1px solid black;
      text-align: center;
      font-size: 25px; }
    header form input[type=text]:focus {
      outline: 0; }
    header form input[type=submit] {
      position: relative;
      padding: 0 10px;
      border: 1px solid black;
      font-size: 25px;
      box-shadow: 3px 3px 3px #888888;
      cursor: pointer; }
    header form input[type="submit"]:hover {
      background: lightyellow; }
    header form input[type="submit"]:active {
      top: 2px;
      left: 2px; }
  header button {
    float: right;
    padding: 0 10px;
    border: 1px solid black;
    background: #6b2607;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer; }

#shows {
  font-size: 14px;
  float: left;
  padding: 0;
  width: 350px; }
  #shows h2 {
    border-bottom: 1px solid black; }
  #shows li {
    padding: 10px 0;
    border-bottom: 1px solid black; }
  #shows input[type=submit] {
    position: relative;
    padding: 0 10px;
    border: 1px solid black;
    font-size: 12px;
    box-shadow: 3px 3px 3px #888888;
    cursor: pointer; }
  #shows input[type="submit"]:hover {
    background: lightyellow; }
  #shows input[type="submit"]:active {
    top: 2px;
    left: 2px; }

#map-container {
  background: url("../img/spinner.gif") no-repeat center;
  margin: 0 20px;
  float: left;
  border: 1px solid black;
  width: 800px;
  height: 600px; }

#map {
  width: 100%;
  height: 100%;
  z-index: 0; }

#add-show-form {
  width: 300px;
  float: right; }
  #add-show-form h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid black; }
  #add-show-form label {
    display: block;
    margin: 2px;
    font-weight: bold; }
  #add-show-form input[type="text"],
  #add-show-form input[type="date"] {
    display: block;
    width: 279px;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px; }
    #add-show-form input[type="text"]:hover,
    #add-show-form input[type="date"]:hover {
      border: 1px solid green;
      box-shadow: 1px 1px 1px #888888; }
  #add-show-form input[type="submit"] {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 3px 3px 3px #888888;
    cursor: pointer; }
    #add-show-form input[type="submit"]:hover {
      background: lightyellow; }
    #add-show-form input[type="submit"]:active {
      top: 2px;
      left: 2px; }

.has-active-modal .modal {
  display: block; }

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); }
  .modal .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    min-height: 200px;
    padding: 30px;
    margin-top: -300px;
    margin-left: -350px;
    background: #fff; }
  .modal .modal-close-button {
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    font-size: 40px;
    line-height: 1.0;
    font-weight: bold;
    color: #999;
    cursor: pointer; }
  .modal .modal-close-button:hover {
    color: #000; }
  .modal textarea {
    width: 680px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
    resize: none; }

body {
  font-family: "Montserrat", sans-serif; }

#logo {
  float: right;
  margin-bottom: 10px; }

#container {
  margin: auto;
  width: 1500px; }

#band-name-header {
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center; }

h1 {
  font-weight: bold;
  font-size: 50px; }

h2 {
  font-weight: bold;
  font-size: 25px; }
