$font: 'Montserrat', sans-serif;
$content-width: 1500px;

$red: #6b2607;

@import 'reset';
@import 'utils';
@import 'header';
@import 'shows';
@import 'map';
@import 'form';
@import 'modal';

body {
	font-family: $font;
}

#logo {
	float: right;
	margin-bottom: 10px;
}

#container {
	margin: auto;
	width: $content-width;
}

#band-name-header {
	height: 50px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 50px;
}

h2 {
	font-weight: bold;
	font-size: 25px;
}




