<body>

<header class="clear-before">	
	<form ng-submit="grabShows()">
		<label for="band-name">Band Name:</label>
		<input id="band-name" type="text" ng-model="bandName" placeholder="Enter Band Name Here">
	
		<input type="submit" value="Grab Shows">
	</form>
		
	<span id="grab-shows-info">?</span>
	
	<button ng-click="getEmbed()"> Get Embed </button>
	<span id="get-embed-info">?</span>
</header>
	
<main id="container" class="clear-after">
		
	<div id="band-name-header">
		<h1>{{bandName}}</h1>
	</div>
	
	<section id="shows">
		<h2>Shows:</h2>
		
	    <ul>
		   <li ng-repeat="show in shows | orderBy : 'datetime_local'">
			   <a ng-href="{{ show.ticket_url }}" target="_blank">
			       {{ show.datetime_local | date:'mediumDate' }} <br> 
				   {{ show.venue.name }} <br>
				   {{ show["venue"]["display_location"]}}
			   </a>
			   <br>
			   <form ng-submit="removeShow($index)">
				   <input type="submit" value="Remove Show">
			   </form>
		   </li>
	   </ul>
	</section> 
	
	<section id="map-container">
		<div id='map'>
		</div>
	</section> 
	
	<section id="add-show-form">
		<h2>Add A Show:</h2>
		
		<form ng-submit="addShow(show)" novalidate>
			<label for="show-date">Show Date:</label>
			<input id="show-date" type="text" ng-model="show.datetime_local">
			
			<label for="show-ticket-url">Ticket URL:</label>
			<input id="show-ticket-url" type="text" ng-model="show.ticket_url">
			
			<label for="show-venue-name">Venue Name:</label>
			<input id="show-venue-name" type="text" ng-model="show.venue.name">
			
			<label for="show-address">Address:</label>
			<input id="show-address" type="text" ng-model="show.address">
			
			<label for="show-city">City:</label>
			<input id="show-city" type="text" ng-model="show.city">
			
			<label for="show-state">State:</label>
			<input id="show-state" type="text" ng-model="show.state">
			
			<label for="show-Country">Country:</label>
			<input id="show-Country" type="text" ng-model="show.Country">
		
			<input type="submit" value="Add Show">
		</form>
	</section>
	
    <section class="modal">
      <article class="modal-box">
        <span ng-click="closeModal()" class="modal-close-button">&times;</span>

        <!-- This is where you should insert your modal content -->
        <div id="modal-container">

          <h1>Embed Code:</h1>

		  <p>Copy and paste the following code onto your site wherever you want the map to show up.</p>

          <textarea>INJECT CODE</textarea>

        </div>
      </article>
    </section>
	
</main> 

<footer class="clear-before">	
	&copy; Tour Mapper
	<!-- <span id="about">About</span> -->
</footer>

<!-- Datepicker -->
<script> 
	$(function() {
		$( "#show-date" ).datepicker();
	});
	
	$("#grab-shows-info").attr("title", function() {
		return "Enter your band name and click 'Grab Shows' to populate previously announced shows via SeatGeek.";	
	});
	
	$("#grab-shows-info").click(function () {
		$(this).tooltip();
		$(this).tooltip("open");
	});
	
	$("#grab-shows-info").attr("title", function() {
		return "Enter your band name and click 'Grab Shows' to populate previously announced shows via SeatGeek.";	
	});
	
	$("#grab-shows-info").click(function () {
		$(this).tooltip();
		$(this).tooltip("open");
	});
</script>

</body> <!-- end ShowsCtrl -->

